simguilog.log

/bin

/output
/simlog

/guiCfg/runnerLastOpened.files

/guiCfg/seeds.db

/guiCfg/config.xml
/target/

/learning/log
topology_evaluation/

/assets/tc_reconfiguration/

/.settings/
!/.settings/org.eclipse.wst.xml.core.prefs
